<div>
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> List</span></div>
</div>
		<table class="table">
			<tbody>
			<tr>
					<td>
					<span class="DetailHeading">Id</span>
					</td>
					<td>
					<span ng-bind="ctrl.SelectedProduct.Id"></span>
					</td>
				</tr>
				<tr>
					<td>
					<span class="DetailHeading">Name</span>
					</td>
					<td><span ng-bind="product.Name"></span></td>
				</tr>
				<tr>
					<td>
					<span class="DetailHeading">VendorPartNumber</span>
					</td>
					</td><span ng-bind="product.VendorPartNumber"></span></td>
				</tr>
				<tr>
					<td>
					<span class="DetailHeading">Price</span>
					</td>
					<td><span ng-bind="product.Price"></span></td>
				</tr>
				<tr>
					<td>
					<span class="DetailHeading">Unit</span>
					</td>
					<td><span ng-bind="product.Unit"></span></td>
				</tr>
				<tr>
					<td>
					<span class="DetailHeading">PhotoPath</span>
					</td>
					<td><span ng-bind="product.PhotoPath"></span></td>
				</tr>
			</tbody>
			</table>
			<span><a href="/vendors/get/{{vendor.ID}}">Edit</a></span>
		</div>
</div>