<div>
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> List</span></div>
</div>
		<table class="table">
			<thead>
				<tr>
					<td>ID</td>
					<td>Name</td>
					<td>VendorPartNumber</td>
					<td>Price</td>
					<td>Unit</td>
					<td>PhotoPath</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in ctrl.Products">
					<td><span ng-bind="product.ID"></span></td>
					<td><span ng-bind="product.Name"></span></td>
					<td><span ng-bind="product.VendorPartNumber"></span></td>
					<td><span ng-bind="product.Price"></span></td>
					<td><span ng-bind="product.Unit"></span></td>
					<td><span ng-bind="product.PhotoPath"></span></td>
					<td><span><a href="#/products/detail/{{product.ID}}">Detail</a></span>
					<td><span><a href="#/products/edit/{{product.ID}}">Edit</a></span>
					<td><span><a href="/products/remove/{{product.ID}}">Delete</a></span>
					</td>

			</tbody>
			</table>
		</div>
</div>