<div>
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span>  List</span></div>
</div>
		<table class="table">
			<thead>
				<tr>
					<td>Product</td>
					<td>Quantity</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="PurchaseRequestLineItem in ctrl.PurchaseRequestLineItems">
					<td><span ng-bind="PurchaseRequestLineItem.Product.Name"></span></td>
					<td><span ng-bind="PurchaseRequestLineItem.Quantity"></span></td>
					<td><span ng-bind="PurchaseRequestLineItem.Action"></span></td>
					<td><span><a href="#/PurchaseRequestLineItems/detail/{{purchaserequestlineitem.ID}}">Detail</a></span>
					<td><span><a href="#/PurchaseRequestLineItems/edit/{{purchaserequestlineitem.ID}}">Edit</a></span>
			</tbody>
			</table>
		</div>
				<span><a href="#/PurchaseRequestLineItems/add/{{ctrl.SelectedPurchaseRequestId}}">Add</a></span>
</div>