<div style="width:60%;margin:10px auto;">
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> Add</span></div>
	<div>
		<div class="form-group row">
			<label for="PurchaseRequestLineItem-id" class="col-md-3 col-form-label">ID</label>
			<div class="col-md-9">
				<input class="form-control" disabled="disabled" type="text" ng-model="ctrl.PurchaseRequest.ID" id="PurchaseRequestLineItem-id">
			</div>
	</div>

		<div class="form-group row">
			<label for="PurchaseRequestLineItem-product" class="col-md-3 col-form-label">Product</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.PurchaseRequest.Product" id="PurchaseRequestLineItem-product">
			</div>
		</div>

		<div class="form-group row">
			<label for="PurchaseRequetLineItem-quantity" class="col-md-3 col-form-label">Quantity</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.PurchaseRequest.Quantity" id="PurchaseRequetLineItem-quantity">
			</div>
		</div>

		<button ng-click="ctrl.Add(ctrl.PurchaseRequestLineItem)">Add</button>
	</div>
</div>