<div>
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span>  List</span></div>
</div>
		<table class="table">
			<thead>
				<tr>
					<td>Product</td>
					<td>Quantity</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="PurchaseRequestLineItem in ctrl.PurchaseRequestLineItems">
					<td><span ng-bind="PurchaseRequestLineItem.Product"></span></td>
					<td><span ng-bind="PurchaseRequestLineItem.Quantity"></span></td>
					<td><span ng-bind="PurchaseRequestLineItem.Action"></span></td>

			</tbody>
			</table>
		</div>
</div>