<div>
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span>  List</span></div>
</div>
		<table class="table">
			<thead>
				<tr>
					<td>Id</td>
					<td>Description</td>
					<td>Justification</td>
					<td>DateNeeded</td>
					<td>DeliveryMode</td>
					<td>DocsAttached</td>
					<td>Status</td>
					<td>Total</td>
					<td>SubmittedDate</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="purchaseRequest in ctrl.PurchaseRequests">
					<td><span ng-bind="purchaseRequest.Id"></span>
					<span ng-bind="purchaseRequest.Description"></span></td>
					<td><span ng-bind="purchaseRequest.Justification"></span></td>
					<td><span ng-bind="purchaseRequest.DateNeeded | date: 'MM/dd/yyyy'"></span></td>
					<td><span ng-bind="purchaseRequest.DeliveryMode"></span></td>
					<td><span ng-bind="purchaseRequest.DocsAttached"></span></td>
					<td><span ng-bind="purchaseRequest.Status"></span></td>
					<td><span ng-bind="purchaseRequest.Total"></span></td>
					<td><span ng-bind="purchaseRequest.SubmittedDate"></span></td>
					<td><span><a href="#/purchaseRequests/get/{{purchaseRequest.ID}}">Detail</a></span>
					<td><span><a href="/purchaseRequests/remove/{{purchaseRequest.ID}}">Delete</a></span>
					</td>

			</tbody>
			</table>
		</div>
		<span><a href="#/PurchaseRequests/add/{{purchaseRequest.ID}}">Add</a></span>
</div>