<div>
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> List</span></div>
</div>
		<table class="table">
			<tbody>
			<tr>
					<td>
					<span class="DetailHeading">Id</span>
					</td>
					<td>
					<span ng-bind="ctrl.SelectedPurchaseRequestLineItem.Id"></span>
					</td>
				</tr>
				<tr>
					<td>
					<span class="DetailHeading">Product</span>
					</td>
					<td><span ng-bind="ctrl.SelectedPurchaseRequestLineItem.Product"></span></td>
				</tr>
				<tr>
					<td>
					<span class="DetailHeading">Quantity</span>
					</td>
					<td><span ng-bind="ctrl.SelectedPurchaseRequestLineItem.Quantity"></span></td>
				</tr>

			</tbody>
			</table>
			<button ng-click="ctrl.Remove(ctrl.SelectedPurchaseRequestLineItem.ID)">Delete</button>
		</div>
</div>