<div style="width:60%;margin:10px auto;">
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> Add</span></div>
	<div>
		<div class="form-group row">
			<label for="purchaseRequest-id" class="col-md-3 col-form-label">ID</label>
			<div class="col-md-9">
				<input class="form-control" disabled="disabled" type="text" ng-model="ctrl.PurchaseRequest.ID" id="purchaseRequest-id">
			</div>
	</div>

	<div class="form-group row">
		<label for="purchaserequest-id" class="col-md-3 col-form-label">User</label>
			<div class="col-md-9">
				<select class="form-control" type="text" ng-model="ctrl.PurchaseRequest.UserID" id="purchaserequest-id">
				<option ng-repeat="user in ctrl.Users" value="{{user.ID}}">{{user.LastName}}</option></select>
			</div>
		</div>

		<div class="form-group row">
			<label for="purchaseRequest-description" class="col-md-3 col-form-label">Description</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.PurchaseRequest.Description" id="purchaseRequest-description">
			</div>
		</div>

		<div class="form-group row">
			<label for="purchaseRequest-justification" class="col-md-3 col-form-label">Justification</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.PurchaseRequest.Justification" id="purchaseRequest-justification">
			</div>
		</div>

		<div class="form-group row">
			<label for="purchaseRequest-dateneeded" class="col-md-3 col-form-label">Date Needed</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.PurchaseRequest.DateNeeded" id="purchaseRequest-dateneeded">
			</div>
		</div>

				<div class="form-group row">
			<label for="purchaseRequest-deliverymode" class="col-md-3 col-form-label">Delivery Mode</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.PurchaseRequest.DeliveryMode" id="purchaseRequest-deliverymode">
			</div>
		</div>


		<div class="form-group row">
			<label for="purchaseRequest-docsattached" class="col-md-3 col-form-label">Docs Attached</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.PurchaseRequest.DocsAttached" id="purchaseRequest-docsattached">
			</div>
		</div>

		<div class="form-group row">
			<label for="purchaseRequest-status" class="col-md-3 col-form-label">Status</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.PurchaseRequest.Status" id="purchaseRequest-status">
			</div>
		</div>

		<div class="form-group row">
			<label for="purchaseRequest-total" class="col-md-3 col-form-label">Total</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.PurchaseRequest.Total" id="purchaseRequest-total">
			</div>
		</div>

		<div class="form-group row">
			<label for="purchaseRequest-submitted-date" class="col-md-3 col-form-label">Submitted Date</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.PurchaseRequest.SubmittedDate" id="purchaseRequest-submitted-date">
			</div>
		</div>

		<button ng-click="ctrl.Add(ctrl.PurchaseRequest)">Add</button>
	</div>
</div>